<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RootFolder" value="C:\Users\sello\source\repos\AutoCISHealthCheck\AutoCISHealthCheck\bin\Release\Test_execution_reports\" />
    <add key="GisRootFolder" value="C:\Users\sello\source\repos\AutoCISHealthCheck\AutoCISHealthCheck\bin\Release\Gis_Test_execution_reports\" />
    <add key="LocalDocPath" value="C:\Users\sello\source\repos\AutoCISHealthCheck\AutoCISHealthCheck\bin\Release\Documents\" />
    <add key="Password" value="8e8a0e0a6cde67431a0dc3152f6abe12" />
    <add key="Username" value="ae6eb7c6afa20c982b27b6833d05be30" />
    <add key="SMTPPort" value="25" />
    <add key="smtp_server" value="in-v3.mailjet.com" />
    <add key="FROM" value="testingappsdw@gmail.com" />

    <add key="Recepient1" value="sello@dataworld.co.za" />
    <add key="Admin" value="sello@dataworld.co.za" />
    <!--on production use sello and Freds email-->
    <add key="Fred" value="sello@dataworld.co.za" />
    <add key="Delays" value="5000" />
    <add key="Executions" value="4" />
    <!--Number of Executions-->
    <add key="WaitMinutes" value="2" />
    <add key="Thread" value="5000" />
    
  </appSettings>
  
<connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=DWJHBDBA006;Initial Catalog=CIS_AUTOMATION;User ID=sa;Password=java" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenCvSharp" publicKeyToken="6adad1e807fea099" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>